@font-face {
    font-family: neu;
    src: url(./NeueHaasDisplayMediu.ttf);
}
@font-face {
    font-family: neu;
    font-weight:100;
    src: url(./NeueHaasDisplayLight.ttf);
}
@font-face {
    font-family: neu;
    font-weight:200;
    src: url(./NeueHaasDisplayRoman.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

#main {
 
    position: relative;
    z-index: 10;


}

#page1 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding: 0 2vw;
}

nav {
    padding: 3vw 0vw;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
    justify-content: space-between;
}


#nav-part2 {
    display: flex;
    align-items: center;
    gap: 1vw;
    margin-left: auto;
}

#nav-part2 h4 {
    padding: 13px 21px;
   
    border: 1px solid #917e78dc;
    border-radius: 50px;
    font-weight: 600;
    color: #000000bb;
    transition: all ease 0.4s;
    position: relative;
    font-size: 18px;
    overflow: hidden;
}

#nav-part2 h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

#nav-part2 h4:hover::after {
    bottom: 0;
    border-radius: 0;
}

#nav-part2 h4 a {
    color: #000000bb;
    text-decoration: none;
    position: relative;
    z-index: 9;
}

#nav-part2 h4:hover a {
    color: #fff;
}

#center{
    height: 78vh;
    width: 100%;
    font-size: 10vw;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #0000003c;
    padding-bottom: 5vw;
}

#left h3{
    width:25vw;
    font-size:1.8vw;
    line-height: 2vw;
    padding-left: 10px;
}

#right h1{
    font-size: 10vw;
    line-height:8vw;
    text-align: right;
}

#page1 video{
    width: 100%;
    border-radius: 30px;
    margin-top: 4vw;
    position: relative;
}

#hero-shape{
  position: absolute;
  height: 36vw;
  width: 46vw;
  right: 0;
  top:85vh;
}

#hero-1{
    height:100%;
    width:100%;
 background: linear-gradient(#FE330A,#fe3116);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(20px);
    position: absolute;
}

#hero-2{
    height:30vw;
    width:30vw;
    background-color: #fe320b;
  border-radius: 50%;
    filter: blur(20px);
    position: absolute;
    animation-name: bubble1;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    
}
#hero-3{
    height:30vw;
    width:30vw;
    background-color: #FE320B;
  border-radius: 50%;
    filter: blur(20px);
    position: absolute;
   animation-name: bubble2;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes bubble1 {
    from{
        transform: translate(-5%,20%);
    }
    to{
        transform: translate(33%,-10%);
    }
    
}
@keyframes anime2 {
    from{
        transform: translate(70%,10%);
    }
    to{
        transform: translate(90%,-15%);
    }
}
#page2{
   min-height: 120vh;
   width: 100%;
   background-color: #EFEAE3;;
   padding:8vw 0;
   position: relative;
}
#moving-text{
    white-space: nowrap;
    overflow-x: auto;
}
#moving-text::-webkit-scrollbar{
    display: none;
}
.con{
   white-space:nowrap;
   display: inline-block;
   animation-name: move;
   animation-duration: 12s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
   
}
#moving-text h1{
   font-size: 9vw;
   display:inline-block;
}
#circle{
    height: 5vw;
    width: 5vw;
    border-radius: 50%;
    background-color: #FE330A;
    display: inline-block;
    margin: 1vw 2vw;
}
@keyframes move {
    from{
        transform: translate(0);
    }
    to{
        transform: translate(-100%);
    }
}
#page2-bottom {
    height: 80vh;
    width: 100%;
    padding: 4vw 6vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 9;
}

#page2-bottom h1 {
    font-size: 4vw;
    
    width: 70%;
    line-height:4vw;
   
}
#bottom-part2{
    width: 22%;
    
}
#bottom-part2 img{
width: 100%;
border-radius: 15px;
}
#bottom-part2 p{
    font-weight:200 ;
    margin-top:2vw;
    font-size: 1vw;
}
#page2 #gooey{
    height:32vw;
    width:32vw;
    position:absolute;
    border-radius: 50%;
    background-color: #ff9831;
    top: 58%;
    left:28%;
    filter: blur(10px); 
   
}
#gooey1{
    width: 100%;
    height:100%;
    position: absolute;
    border-radius: 50%;
    background-color: #ff9831;
    filter: blur(10px);
    animation-name: circle1;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
#gooey2{
    width:100%;
    height:100%;
    position: absolute;
    border-radius: 50%;
    background-color: #fe330a;
    filter: blur(50px);
    animation-name: circle2;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes circle1 {
    from{
        transform: translate(-5%,10%) skew(0deg)
    }
    to{
        transform: translate(5%,-6%) skew(-10deg)
    }
}

@keyframes circle2 {
    from{
        transform: translate(-5%,10%);
    }
    to{
        transform: translate(5%,-6%);
    }
}

#page3{
min-height: 100vh;
    width:100%;
    background-color: #EFEAE3;
    padding: 4vw 0;
    
}
#sectop{
    display:flex;
    align-items: center;
    padding: 3vw 2vw;
    gap :0.5vw;
}
#circ {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #FE330A;
}

.elem{
  height:130px;
    width: 100%;
    padding: 0 2vw;
    position: relative;
    display: flex;
    align-items: center;
    
    border-bottom: 1px solid rgb(207, 201, 201);
    overflow: hidden;
}
.elem h2{
    font-size:3vw;
    position: relative;
    z-index: 9;

}
.elem:hover .overlay{
    top: 0%;
}
.elem .overlay{
    height:100%;
    width:100%;
    background-color:#ff9831;
    position: absolute;
    left: 0;
    top:-100%;
    transition: all ease 0.3s;
    
}
#elem-container{
    
}
